body {
  background: lightpink;
  font-family: 'Amatic SC', cursive;
  color: white;
}
h1, h2 {
	text-align: center; }
	h5{
		text-align:center;
		color:#900c3f;
		font-size: 27px 
		}

	a:hover {
  color: #fc9d9d;
}
h3 {
	font-size: 34px 
	}

div {
 background: pink;
  border: 1px solid #fc9d9d;
  margin: 15px 95px;
  padding: 25px 65px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #900c3f;
}

.btn-pink {
  display: inline-block;
  color: white;
  background: #C86472;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-pink:hover {
  color: white;
  opacity: 0.8;
}